<ng-container *ngIf="!isEdit">
  <td>{{ todo.libelle }}</td>
  <td>
    <button class="btn btn-outline-success" (click)="editTodo()" type="button" [title]="todo.libelle">
      <fa-icon [icon]="faEdit"></fa-icon>
    </button> &nbsp;
    <button (click)="deleteTodo(todo)" class="btn btn-outline-danger" type="button" [title]="todo.libelle">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </td>
</ng-container>

<ng-container *ngIf="isEdit">
  <td>
    <input type="text" class="form-control" [formControl]="todoControl">
  </td>
  <td>
    <button class="btn btn-outline-primary" (click)="saveEdit()" type="button" [title]="todo.libelle">
      <fa-icon [icon]="faSave"></fa-icon>
    </button> &nbsp;
    <button class="btn btn-outline-danger" (click)="cancelEdit()" type="button" [title]="todo.libelle">
      <fa-icon [icon]="faCancel"></fa-icon>
    </button>
  </td>
</ng-container>
